{% extends 'base.html.twig' %}

{% block title %}New ProductOrders{% endblock %}

{% block body %}
    <h1>Create new ProductOrders</h1>

    {{ include('product_orders/_form.html.twig') }}

    <a href="{{ path('product_orders_index') }}">back to list</a>
{% endblock %}
